<p>
  I'm a software engineer based in Edinburgh, Scotland. My interests
  include helping people program computers more effectively, open
  source, maths, and music. I help maintain the
  <a href="https://www.purescript.org">PureScript</a> compiler and
  ecosystem, and I work for <a href="https://www.lumi.com">Lumi</a>.
</p>
<p>You can get hold of me via:</p>
<ul>
  <li>Email: <a rel="me" href="mailto:harry@garrood.me">harry@garrood.me</a></li>
  <li>Twitter: <a rel="me" href="https://twitter.com/hdgarrood">@hdgarrood</a></li>
  <li>GitHub: <a rel="me" href="https://github.com/hdgarrood">@hdgarrood</a></li>
</ul>
