<p>
  I'm a software engineer based in Edinburgh, Scotland. My interests
  include helping people program computers more effectively, open
  source, maths, and music.
</p>
<p>You can get hold of me via:</p>
<dl>
  <dt>Email</dt>
  <dd>
    <a rel="me" href="mailto:harry@garrood.me">harry@garrood.me</a>
  </dd>

  <dt>Mastodon</dt>
  <dd>
    <a rel="me" href="https://hachyderm.io/@hdgarrood">@hdgarrood&ZeroWidthSpace;@hachyderm.io</a>
  </dd>

  <dt>Twitter</dt>
  <dd>
    <a rel="me" href="https://twitter.com/hdgarrood">@hdgarrood</a>
  </dd>

  <dt>GitHub</dt>
  <dd>
    <a rel="me" href="https://github.com/hdgarrood">@hdgarrood</a>
  </dd>
</dl>
