---
---

// mixins
@mixin corners {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@mixin blocky {
    @include corners;
    margin: 2%;
    padding: 1em;
}

// colours
$base-bg: #f1edf9;
$outer-bg: #353535;
$base-bg2: #cbc6cb;
$base-fg: #353535;
$base-fg2: #444444;
$violet: #891a93;
$blue: #275dad;
$darkblue: #454ade;
$orange: #e36f25;
$red: #c03221;
$green: #88a408;

$links: $blue;

// base styles
* {
  box-sizing: border-box;
}

body {
    font-family: "Source Serif Pro", serif;
    font-weight: normal;
    font-size: 130%;
    color: $base-fg;
    line-height: 1.4;
    overflow-y: scroll;

    background-color: $base-bg;
}

strong {
    font-weight: 600;
}


a {
    color: $links;
}

a:hover, a:focus {
    color: lighten($links, 10%);
}

h1, h2, h3, h4, h5 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    margin-bottom: 0.15em;
    line-height: 0.9;
    font-size: 2.4em;
}

@media (max-width: 950px) {
    h1 {
        font-size: 1.8em;
        hyphens: auto;
    }
}

h2 {
    margin-top: 1.2em;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding-left: 1.2em;
}

code, pre {
    font-family: "Monaco", "Ubuntu Mono", "Consolas", monospace;
}

pre {
    overflow-wrap: break-word;
}

code {
    @include corners;
    background: rgba(0,0,0, 5%);
    padding: 0.2em;
    font-size: 0.95em;
    border: 1px solid rgba(0,0,0, 2%);
}

pre code {
    border: none;
    background: transparent;
    padding: 0;
}

img {
    // make images look good on smaller screens
    max-width: 100%;
    height: auto;

    // and centre them on the page
    display: block;
    margin-left: auto;
    margin-right: auto;
}

tbody tr:nth-child(odd) {
  background: rgba(0,0,0, 5%);
}

th {
  border: 2px solid black;
}

td {
  border: 1px solid black;
}

th, td {
  padding: 0 1.2em;
  text-align: center;
}

nav ol, nav li {
  list-style-type: none;
  display: inline;
  padding: 0;
}

// layout
main {
    padding: 4em 2em 2em 2em;
    max-width: 45em;
    margin-left: 25%;
    margin-right: auto;
    margin-bottom: 5em;
    background-color: $base-bg;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 23%;
    overflow-y: auto;
    padding: 4em 2% 2% 2%;
    color: $base-bg;
    /* Background pattern from Toptal Subtle Patterns https://toptal.com/designers/subtlepatterns */
    background: $outer-bg url("/assets/img/prism.png") repeat scroll 0% 0%;
}

.sidebar-content, main, header {
    & > *:first-child {
        margin-top: 0;
    }
}

.sidebar h2 {
    font-size: 2em;
}

@media (max-width: 1200px) {
    .sidebar .about {
        display: none;
    }

    main, .sidebar-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 45em;
    }

    .sidebar {
        padding: 2em;
        position: static;
        width: 100%;
    }

    .sidebar-content {
        padding: 0 2em;
    }
}

@media (max-width: 950px) {
    .sidebar {
        padding: 2em 0;
        h2 {
            font-size: 1.4em;
        }
    }
}

.sidebar a {
    color: $base-bg;
    font-weight: 600;
}

.sidebar a:hover {
    color: saturate($base-bg, 20%);
    text-decoration: underline;
}

.sidebar h2 a {
    text-decoration: none;
}

.sidebar ul.horizontal-menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    padding-left: 0;

    li:not(:first-child) {
        padding-left: 5px;

        &:before {
            content: " · ";
        }
    }

    li.about {
        display: none;
    }
}

@media (max-width: 1200px) {
    .sidebar ul.horizontal-menu {
        margin-bottom: 0;

        li.about {
            display: block;
        }
    }
}

blockquote, svg, pre {
    @include blocky;
    background: rgba(0,0,0, 5%);
}

// blog index styles
ul.blog-index {
    padding-left: 0;
    list-style-type: none;

    h2 {
        font-size: 2em;
    }

    & > li:first-child h2 {
        margin-top: 0;
    }
}

@media (max-width: 950px) {
    ul.blog-index h2 {
        font-size: 1.5em;
    }
}


li.blog-post {
    margin-bottom: 0.6em;
}

.blog-post time {
    font-style: italic;
}

// blog post styles
.byline {
    margin-top: 0;
    margin-bottom: 1.8em;
    font-style: italic;
    font-size: 0.9em;
}

.post-footer {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;

}

hr.end-of-post {
    margin-top: 3em;
}

// Projects page styles
.project-links {
    display: flex;
    flex-wrap: wrap;
}

.project-links a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 180px;
    width: 100%;
    margin: 1%;
    flex: 0 0 48%;
    text-decoration: none;
    border-radius: 5px;
    background-color: $blue;

    span.label {
      display: block;
      text-align: center;
      border-radius: 0 0 5px 5px;
      height: 1.8em;
      padding-top: 4px;
      width: 100%;
      background: $base-fg;
      color: $base-bg;
    }
}

.highlight .c, /* Comment */
.highlight .ch, /* Comment.Hashbang */
.highlight .cm, /* Comment.Multiline */
.highlight .cp, /* Comment.Preproc */
.highlight .cpf, /* Comment.PreprocFile */
.highlight .c1, /* Comment.Single */
.highlight .cs /* Comment.Special */
{
  color: $green;
}

.highlight .n, /* Name */
.highlight .na, /* Name.Attribute */
.highlight .nb, /* Name.Builtin */
.highlight .nc, /* Name.Class */
.highlight .no, /* Name.Constant */
.highlight .nd, /* Name.Decorator */
.highlight .ni, /* Name.Entity */
.highlight .ne, /* Name.Exception */
.highlight .nf, /* Name.Function */
.highlight .nl, /* Name.Label */
.highlight .nn, /* Name.Namespace */
.highlight .nx, /* Name.Other */
.highlight .py, /* Name.Property */
.highlight .nt, /* Name.Tag */
.highlight .nv, /* Name.Variable */
.highlight .bp, /* Name.Builtin.Pseudo */
.highlight .fm, /* Name.Function.Magic */
.highlight .vc, /* Name.Variable.Class */
.highlight .vg, /* Name.Variable.Global */
.highlight .vi, /* Name.Variable.Instance */
.highlight .vm /* Name.Variable.Magic */
{
  color: $base-fg;
}

.highlight .l, /* Literal */
.highlight .ld, /* Literal.Date */
.highlight .m, /* Literal.Number */
.highlight .s, /* Literal.String */
.highlight .mb, /* Literal.Number.Bin */
.highlight .mf, /* Literal.Number.Float */
.highlight .mh, /* Literal.Number.Hex */
.highlight .mi, /* Literal.Number.Integer */
.highlight .mo, /* Literal.Number.Oct */
.highlight .sa, /* Literal.String.Affix */
.highlight .sb, /* Literal.String.Backtick */
.highlight .sc, /* Literal.String.Char */
.highlight .dl, /* Literal.String.Delimiter */
.highlight .sd, /* Literal.String.Doc */
.highlight .s2, /* Literal.String.Double */
.highlight .se, /* Literal.String.Escape */
.highlight .sh, /* Literal.String.Heredoc */
.highlight .si, /* Literal.String.Interpol */
.highlight .sx, /* Literal.String.Other */
.highlight .sr, /* Literal.String.Regex */
.highlight .s1, /* Literal.String.Single */
.highlight .ss, /* Literal.String.Symbol */
.highlight .il /* Literal.Number.Integer.Long */
{
  color: $orange;
}

.highlight .k, /* Keyword */
.highlight .kc, /* Keyword.Constant */
.highlight .kd, /* Keyword.Declaration */
.highlight .kn, /* Keyword.Namespace */
.highlight .kp, /* Keyword.Pseudo */
.highlight .kr, /* Keyword.Reserved */
.highlight .kt /* Keyword.Type */
{
  color: $blue;
}

.highlight .o, /* Operator */
.highlight .ow /* Operator.Word */
{
  color: $base-fg2;
}

.highlight .p /* Punctuation */
{
  color: $base-fg2;
}

/* Insert zero-width spaces after punctuation
  for nicer line breaking on narrow viewports */
.highlight .p:after {
  content: "\200b";
}

.highlight .gd /* Generic.Deleted */
{
  color: $red;
}

.highlight .gi, /* Generic.Inserted */
{
  color: $green;
}

.highlight .ge, /* Generic.Emph */
.highlight .gs, /* Generic.Strong */
.highlight .gu /* Generic.Subheading */
{
  color: $base-fg;
}

.highlight .w /* Text.Whitespace */
{
}

.highlight .err /* Error */
{
}
