---
---

$background-inner: #f8f8f8;
$background-outer: darken($background-inner, 3%);

$links: #0d5a9e;
$links-visited: #ad5a9e;

// base styles
body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 120%;
    color: #333;
    background-color: $background-outer;
    line-height: 1.4;
    overflow-y: scroll;
}

a {
    color: $links;
}

a:hover, a:focus {
    color: lighten($links, 10%);
}

a:visited {
    color: $links-visited;
}

a:visited:hover, a:visited:focus {
    color: lighten($links-visited, 10%);
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto Slab", serif;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 1.2em;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding-left: 1.2em;
}

code, pre {
    font-family: "Monaco", monospace;
}

pre {
  overflow-wrap: break-word;
}

code {
    font-size: 0.9em;
}

img {
    // make images look good on smaller screens
    max-width: 100%;
    height: auto;

    // and centre them on the page
    display: block;
    margin-left: auto;
    margin-right: auto;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

th {
  border: 2px solid black;
}

td {
  border: 1px solid black;
}

th, td {
  padding: 0 1.2em;
  text-align: center;
}

nav ol, nav li {
  list-style-type: none;
  display: inline;
  padding: 0;
}

nav li:not(:first-child):before {
  content: " » ";
}

// layout
main {
    padding: 2em;
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
    background-color: $background-inner;
}

@mixin corners {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@mixin blocky {
    @include corners;
    margin: 2%;
    padding: 1em;
}

blockquote, svg {
    @include blocky;
    background: #dde;
}

pre {
    padding-left: 1em;
    border-left: 2px solid #dde;
}

// blog index styles
li.blog-post {
  margin-bottom: 0.6em;
}

.blog-post time {
  color: #444;
  font-style: italic;
}


// blog post styles
.byline {
    margin-top: 0;
    margin-bottom: 1.8em;
    font-style: italic;
    font-size: 0.9em;
}

.post-footer {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;

}

hr.end-of-post {
    margin-top: 3em;
}

// source code highlighting
.sourceCode.haskell .ot {
    color: #433279;
}

.sourceCode.haskell .dt {
    color: #af5a3b;
}

.sourceCode.haskell .kw {
    color: #116416;
}

.sourceCode.haskell .st {
    color: #af3e3b;
}
