---
layout: post
title: "Permutations: an exercise"
---
<p>A colleague of mine severely nerd-sniped me at work recently with this rather innocuous-sounding challenge. I think it's a rather lovely little exercise and decided to write up my solution.</p>
<p>This post is designed to be read as a programming exercise. It will guide you along as it helps you break the problem into parts. If you want, you can skip to the end and read all the solutions (but that would be cheating).</p>
<p>Download the <a href="permutations.lhs">literate haskell source file</a> first; you can fill in the gaps and then compile it with <code>ghc permutations.lhs</code> or load it into GHCi with <code>:l permutations.lhs</code>, like any other haskell file.</p>
<p>Consider the following shuffling technique:</p>
<ol style="list-style-type: decimal">
<li>Take one card from the top of the deck and discard it into a second pile.</li>
<li>Take another card from the top of the deck, and put it at the bottom of the deck.</li>
<li>Repeat these two steps, putting all discarded cards from step 1 into the same pile, until the original deck is all gone and the second pile has all the cards in it.</li>
</ol>
<p>For example, suppose we have a deck with 5 cards. The process looks like this:</p>
<p>{% include permutations-an-exercise/shuffle-viz.html %}</p>
<p>The problem is: how many shuffles does it take until a deck is in the same order as when you started, for a deck with an arbitrary number of cards? Write a function, <code>f :: Int -&gt; Int</code>, such that, for a deck with n cards, <code>f n</code> is the minimum number of shuffles required to return it to its original order.</p>
<p>We're going to use Haskell, because this is all about <em>functions</em> (in the mathematical sense), and so Haskell, being a <em>functional programming language</em>, is especially well suited to the job.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt;</span> <span class="ot">{-# OPTIONS_GHC -Wall #-}</span>
<span class="ot">&gt;</span> <span class="ot">{-# LANGUAGE GeneralizedNewtypeDeriving #-}</span>
<span class="ot">&gt;</span> <span class="kw">module</span> <span class="dt">Main</span> <span class="kw">where</span>
<span class="ot">&gt;</span> 
<span class="ot">&gt;</span> <span class="kw">import </span><span class="dt">Control.Monad</span> (forM_)
<span class="ot">&gt;</span> <span class="kw">import </span><span class="dt">Data.Maybe</span> (catMaybes)
<span class="ot">&gt;</span> <span class="kw">import </span><span class="dt">Data.List</span> (nub, sort)
<span class="ot">&gt;</span> <span class="kw">import </span><span class="dt">System.Environment</span> (getArgs)
<span class="ot">&gt;</span> <span class="kw">import </span><span class="dt">Test.QuickCheck</span> <span class="kw">hiding</span> (infiniteList)
<span class="ot">&gt;</span> 
<span class="ot">&gt; todo ::</span> a
<span class="ot">&gt;</span> todo <span class="fu">=</span> error <span class="st">&quot;todo&quot;</span></code></pre>
<p>A <code>Card</code> is represented as an <code>Int</code>, except that the type checker should ensure that we don't put a <code>Card</code> where an <code>Int</code> should go, or vice versa.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt;</span> <span class="kw">newtype</span> <span class="dt">Card</span> <span class="fu">=</span> <span class="dt">Card</span> <span class="dt">Int</span>
<span class="ot">&gt;</span>     <span class="kw">deriving</span> (<span class="dt">Eq</span>, <span class="dt">Ord</span>, <span class="dt">Arbitrary</span>)
<span class="ot">&gt;</span> 
<span class="ot">&gt; unCard ::</span> <span class="dt">Card</span> <span class="ot">-&gt;</span> <span class="dt">Int</span>
<span class="ot">&gt;</span> unCard (<span class="dt">Card</span> n) <span class="fu">=</span> n
<span class="ot">&gt;</span> 
<span class="ot">&gt;</span> <span class="kw">instance</span> <span class="dt">Show</span> <span class="dt">Card</span> <span class="kw">where</span>
<span class="ot">&gt;</span>     show <span class="fu">=</span> show <span class="fu">.</span> unCard</code></pre>
<p>We will represent a deck of cards as a list. The head of the list will represent the top of the deck.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt;</span> <span class="kw">type</span> <span class="dt">Deck</span> <span class="fu">=</span> [<span class="dt">Card</span>]
<span class="ot">&gt;</span> 
<span class="ot">&gt; unCardAll ::</span> <span class="dt">Deck</span> <span class="ot">-&gt;</span> [<span class="dt">Int</span>]
<span class="ot">&gt;</span> unCardAll <span class="fu">=</span> map unCard
<span class="ot">&gt;</span> 
<span class="ot">&gt; makeDeck ::</span> <span class="dt">Int</span> <span class="ot">-&gt;</span> <span class="dt">Deck</span>
<span class="ot">&gt;</span> makeDeck n <span class="fu">=</span> map <span class="dt">Card</span> [<span class="dv">1</span><span class="fu">..</span>n]</code></pre>
<p>Our first job is to define a function that only performs steps 1 and 2 of the shuffle. What type should this function be? It should take a deck and a new pile, and return an updated deck and pile, so let's go with <code>(Deck, Deck) -&gt; (Deck, Deck)</code>.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; step ::</span> (<span class="dt">Deck</span>, <span class="dt">Deck</span>) <span class="ot">-&gt;</span> (<span class="dt">Deck</span>, <span class="dt">Deck</span>)
<span class="ot">&gt;</span> step <span class="fu">=</span> todo</code></pre>
<p>Now, we should think about what properties our <code>step</code> function should satisfy, so that we can get QuickCheck to test them for us. Here's one: after performing <code>step</code> some arbitrary number of times on a deck, we should end up with the same number of cards that we started with:</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; prop_step_sameLength ::</span> <span class="dt">Deck</span> <span class="ot">-&gt;</span> <span class="dt">Int</span> <span class="ot">-&gt;</span> <span class="dt">Bool</span>
<span class="ot">&gt;</span> prop_step_sameLength deck n&#39; <span class="fu">=</span>
<span class="ot">&gt;</span>     sumLength (times n step (deck, [])) <span class="fu">==</span> length deck
<span class="ot">&gt;</span>     <span class="kw">where</span>
<span class="ot">&gt;</span>     n <span class="fu">=</span> (abs n&#39;) <span class="ot">`mod`</span> (length deck <span class="fu">+</span> <span class="dv">1</span>)
<span class="ot">&gt;</span>     times m f z <span class="fu">=</span> iterate f z <span class="fu">!!</span> m
<span class="ot">&gt;</span>     sumLength (a, b) <span class="fu">=</span> length a <span class="fu">+</span> length b</code></pre>
<p>Here's another: after one step, we should have one fewer card in the deck (unless we started with an empty deck, in which case we should still have an empty deck)</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; prop_step_oneFewer ::</span> <span class="dt">Deck</span> <span class="ot">-&gt;</span> <span class="dt">Bool</span>
<span class="ot">&gt;</span> prop_step_oneFewer deck <span class="fu">=</span>
<span class="ot">&gt;</span>     length (fst (step (deck, []))) <span class="fu">==</span> newLength deck
<span class="ot">&gt;</span>     <span class="kw">where</span>
<span class="ot">&gt;</span>     newLength [] <span class="fu">=</span> <span class="dv">0</span>
<span class="ot">&gt;</span>     newLength d <span class="fu">=</span> (length d) <span class="fu">-</span> <span class="dv">1</span></code></pre>
<p>Write <code>step</code> and make sure it satisfies these properties before continuing! You can run the tests by typing <code>runhaskell permutations.lhs</code>, or by loading it into GHCi and typing <code>main</code>.</p>
<p>Next we need to write a function, <code>shuffle</code>, that performs the shuffle on a deck. So its type should be <code>Deck -&gt; Deck</code>. Here are some Prelude functions that might come in handy:</p>
<ul>
<li><code>dropWhile :: (a -&gt; Bool) -&gt; [a] -&gt; [a]</code>: drops elements from the front of a list until it finds an element that satisfies a predicate.</li>
<li><code>iterate :: (a -&gt; a) -&gt; a -&gt; [a]</code>: successively applies a function to a value, and returns all the intermediate values. So <code>iterate f x</code> is <code>[x, f x,   f (f x)...]</code></li>
</ul>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; shuffle ::</span> <span class="dt">Deck</span> <span class="ot">-&gt;</span> <span class="dt">Deck</span>
<span class="ot">&gt;</span> shuffle <span class="fu">=</span> todo</code></pre>
<p>Test properties for <code>shuffle</code>: shuffling a deck should return another deck with the same number of cards:</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; prop_shuffle_sameLength ::</span> <span class="dt">Deck</span> <span class="ot">-&gt;</span> <span class="dt">Bool</span>
<span class="ot">&gt;</span> prop_shuffle_sameLength deck <span class="fu">=</span> length (shuffle deck) <span class="fu">==</span> length deck</code></pre>
<p>Shuffling a deck should move the top card to the bottom:</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; prop_shuffle_topToBottom ::</span> <span class="dt">Deck</span> <span class="ot">-&gt;</span> <span class="dt">Bool</span>
<span class="ot">&gt;</span> prop_shuffle_topToBottom [] <span class="fu">=</span> <span class="dt">True</span>
<span class="ot">&gt;</span> prop_shuffle_topToBottom deck<span class="fu">@</span>(topCard<span class="fu">:</span>_) <span class="fu">=</span>
<span class="ot">&gt;</span>     last (shuffle deck) <span class="fu">==</span> topCard</code></pre>
<p>Next up is a function <code>order</code> which, given a function, gives us the number of times we have to apply it to a given value to get that value again. So its type should be <code>Eq a =&gt; (a -&gt; a) -&gt; a -&gt; Int</code>. We need the <code>Eq</code> constraint so that we can test values to see if they're the same as the first one.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; order ::</span> <span class="dt">Eq</span> a <span class="ot">=&gt;</span> (a <span class="ot">-&gt;</span> a) <span class="ot">-&gt;</span> a <span class="ot">-&gt;</span> <span class="dt">Int</span>
<span class="ot">&gt;</span> order <span class="fu">=</span> todo</code></pre>
<p>To test <code>order</code>: Suppose we have a function f, and some arbitrary number n. Define f such that <code>f x</code> is x - 1 for positive x, and n otherwise. Then, the number of times we have to apply f to n to get n again should be n + 1:</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; prop_order_subtractOne ::</span> <span class="dt">Int</span> <span class="ot">-&gt;</span> <span class="dt">Bool</span>
<span class="ot">&gt;</span> prop_order_subtractOne n&#39; <span class="fu">=</span> order f n <span class="fu">==</span> n <span class="fu">+</span> <span class="dv">1</span>
<span class="ot">&gt;</span>     <span class="kw">where</span>
<span class="ot">&gt;</span>     n <span class="fu">=</span> abs n&#39; <span class="fu">+</span> <span class="dv">1</span> <span class="co">-- ensure that n &gt;= 1</span>
<span class="ot">&gt;</span>     f x <span class="fu">|</span> x <span class="fu">&gt;</span> <span class="dv">0</span>     <span class="fu">=</span> x <span class="fu">-</span> <span class="dv">1</span>
<span class="ot">&gt;</span>         <span class="fu">|</span> otherwise <span class="fu">=</span> n</code></pre>
<p>For our first attempt at answering the question, we can use a naive solution, which is just to keep shuffling the deck until we get the same deck again. We've got all the building blocks now, and all that remains is to put them together.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; f1 ::</span> <span class="dt">Int</span> <span class="ot">-&gt;</span> <span class="dt">Int</span>
<span class="ot">&gt;</span> f1 <span class="fu">=</span> todo</code></pre>
<p><code>f1</code> is easier to test by looking at particular cases. This code gives a few inputs and expected outputs for <code>f</code>. If you run the tests (with <code>runhaskell permutations.lhs</code>, as before) it will check that your <code>f1</code> works for all of these values.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; examples_f ::</span> [(<span class="dt">Int</span>, <span class="dt">Int</span>)]
<span class="ot">&gt;</span> examples_f <span class="fu">=</span>
<span class="ot">&gt;</span>     [ (<span class="dv">4</span>, <span class="dv">2</span>)
<span class="ot">&gt;</span>     , (<span class="dv">5</span>, <span class="dv">5</span>)
<span class="ot">&gt;</span>     , (<span class="dv">52</span>, <span class="dv">510</span>)
<span class="ot">&gt;</span>     , (<span class="dv">53</span>, <span class="dv">53</span>)
<span class="ot">&gt;</span>     , (<span class="dv">100</span>, <span class="dv">120</span>)
<span class="ot">&gt;</span>     ]</code></pre>
<p>Now try doing <code>f1 200</code>, which should give you 8460. Notice how long it takes to compute. We can do much better than this, but in order to improve our implementation, we need to do some maths.</p>
<p><code>shuffle</code> is a function of type <code>Deck -&gt; Deck</code>, but we can also imagine it like a function <code>S -&gt; S</code>, where <code>S</code> is the set of natural numbers from 1 up to n. Let's call this new function <code>g</code>. <code>g</code> takes the initial position of a card in the deck, and gives you the position after shuffling the deck once. So in the case where n = 5, we have:</p>
<pre><code>g :: S -&gt; S
g x = case x of
    1 -&gt; 5 -- The card on top goes to the bottom
    2 -&gt; 1 -- The card second from the top goes to the top
    3 -&gt; 4 -- and so on
    4 -&gt; 2
    5 -&gt; 3</code></pre>
<p>What do we know about this function?</p>
<p>Firstly, we know that this function must be <em>injective</em>, that is, each output corresponds to exactly one input. This is true because we can't end up with two cards in the same position after shuffling.</p>
<p>We also know that it must be <em>surjective</em>, which means that for every position in the deck (ie every number from 1 up to n), after a shuffle, there must be one card that ends up at that position. If we have a deck of 5 cards, and we shuffle it, we must always end up with a deck where there is a card in the 1st position, and a card in the 2nd, 3rd, 4th, and 5th.</p>
<p>Another thing we know about this function is that it its <em>domain</em> (the set of values that it accepts as input) and its <em>range</em> (the set of values that its output is in) are the same. In our case <code>g</code> has <code>S</code> as its domain and its range.</p>
<p>A function that is both injective and surjective is called a <em>bijective function</em>, and a bijective function whose domain and range are the same is called a <em>permutation</em>. Permutations have some really nice properties, and knowing about these will help us write a correct and efficient program.</p>
<p>Here's another way of writing <code>g</code>:</p>
<pre><code>g = (1 5 3 4 2)</code></pre>
<p>This is called <em>cycle notation</em>, and is a useful way of writing permutations. It says that <code>g</code> takes 1 to 5, 5 to 3, 3 to 4, 4 to 2, and 2 back to 1.</p>
<p>We can tell from this notation that <code>g</code> has an order of 5, because the cycle has 5 numbers in it. Each time we apply <code>g</code>, we move the cycle around by 1 step; therefore moving the cycle around 5 times gets us back to where we started.</p>
<p>What about the permutation for a deck of 13 cards? In Haskell, it would look like this:</p>
<pre><code>g :: S -&gt; S
g x = case x of
    1 -&gt; 13
    2 -&gt; 2
    3 -&gt; 12
    4 -&gt; 6
    5 -&gt; 11
    6 -&gt; 3
    7 -&gt; 10
    8 -&gt; 5
    9 -&gt; 9
    10 -&gt; 1
    11 -&gt; 8
    12 -&gt; 4
    13 -&gt; 7</code></pre>
<p>In this case, <code>g</code> takes 1 to 13, 13 to 7, 7 to 10, and 10... back to 1. What can we do when the cycle doesn't have all of the numbers in it?</p>
<p>The answer is to take the next number that isn't in any of our cycles and make a new one. So given that one of the cycles in <code>g</code> is <code>(1 13 7 10)</code>, we can start with 2, to get another cycle: <code>(2)</code>. We are still missing 3, so start with 3 to get another cycle: <code>(3 12 4 6)</code>. Repeat this until all of the numbers occur in at least one cycle:</p>
<pre><code>g = (1 13 7 10)(3 12 4 6)(5 11 8)</code></pre>
<p>We usually leave out one-cycles (eg: <code>(2)</code>, <code>(9)</code>) because they don't change the meaning of the function.</p>
<p>Since no number appears in more than one of these cycles (another way of saying this is that they are <em>disjoint</em>), when trying to determine the order, we can consider each of them individually.</p>
<p>The first cycle has 4 elements, so on its own, it must have an order of 4. Does that mean <code>g</code> has an order of 4? No, because applying <code>g</code> four times to 5 gives us 11.</p>
<p>We know that <code>(1 13 7 10)</code> on its own has an order of 4, and so does <code>(3 12 4 6)</code>. However, <code>(5 11 8)</code> has an order of 3. What's the minimum number of times we have to apply <code>g</code> to get all of these back to where they started?</p>
<p>{% include permutations-an-exercise/cycle-order-viz.html %}</p>
<p>The answer, which hopefully is demonstrated by the visualisation, is the least common multiple of all of the cycle lengths. So in this case, it's 12.</p>
<p>So now we have a new way of calculating the order of the shuffle for a given deck size: do the shuffle once, use the resulting deck to work out how to represent the shuffle as a set of disjoint cycles, and then get the least common multiple of the cycle lengths.</p>
<p>First we need a way of representing a cycle in Haskell. Let's go with this:</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt;</span> <span class="kw">newtype</span> <span class="dt">Cycle</span> <span class="fu">=</span> <span class="dt">Cycle</span> [<span class="dt">Int</span>]
<span class="ot">&gt;</span>     <span class="kw">deriving</span> (<span class="dt">Eq</span>, <span class="dt">Ord</span>)
<span class="ot">&gt;</span> 
<span class="ot">&gt;</span> <span class="kw">instance</span> <span class="dt">Show</span> <span class="dt">Cycle</span> <span class="kw">where</span>
<span class="ot">&gt;</span>     show (<span class="dt">Cycle</span> xs) <span class="fu">=</span> <span class="st">&quot;(&quot;</span> <span class="fu">++</span> join <span class="st">&quot; &quot;</span> (map show xs) <span class="fu">++</span> <span class="st">&quot;)&quot;</span>
<span class="ot">&gt;</span>         <span class="kw">where</span>
<span class="ot">&gt;</span>         join glue (y<span class="fu">:</span>ys) <span class="fu">=</span> y <span class="fu">++</span> (concatMap (glue <span class="fu">++</span>) ys)
<span class="ot">&gt;</span>         join _ [] <span class="fu">=</span> <span class="st">&quot;&quot;</span></code></pre>
<p>So a <code>Cycle</code> is just a list of Ints. So the cycle for <code>g</code> when n = 5 would be:</p>
<pre><code>g = Cycle [1,5,3,4,2]</code></pre>
<p>There's a small problem here: suppose we make another <code>Cycle</code> from the list <code>[5,3,4,2,1]</code>. This <code>Cycle</code> still takes 1 to 5, 5 to 3, and so on, like <code>g</code>. So we should consider them to be the same. However, Haskell will look at the inner list to decide whether two cycles are equal. Because the lists are different, Haskell will think that the cycles are different.</p>
<p>We can get around this issue by saying that a Cycle should always start with its smallest element. So the second representation of <code>g</code> above would be invalid.</p>
<p>A good way of implementing this in Haskell is to define a <em>smart constructor</em>: a function like <code>Cycle</code> whose type is <code>[Int] -&gt; Cycle</code>, but which makes sure our statement above holds. Then, as long as we remember to use our smart constructor rather than <code>Cycle</code>, we'll be ok.</p>
<p>If we were writing a proper program, we would probably define <code>Cycle</code> and its smart constructor in a separate module and then only export the smart constructor, to ensure that we don't make this mistake. Here it's probably not worth the effort.</p>
<p>The next task is to write this smart constructor function. Let's call it <code>makeCycle</code>. It should take an infinite list of cycling values, cut it off at the first instance where a value is repeated, and then return a <code>Cycle</code> where the smallest value comes first.</p>
<p>While implementing <code>makeCycle</code>, you might find it useful to define a function, <code>rotate</code>, which takes a list, takes one element from the front of the list, and puts it at the back. So, for example, <code>rotate [1..5] == [2,3,4,5,1]</code>.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; rotate ::</span> [a] <span class="ot">-&gt;</span> [a]
<span class="ot">&gt;</span> rotate <span class="fu">=</span> todo</code></pre>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; makeCycle ::</span> [<span class="dt">Int</span>] <span class="ot">-&gt;</span> <span class="dt">Cycle</span>
<span class="ot">&gt;</span> makeCycle <span class="fu">=</span> todo</code></pre>
<p>To test <code>makeCycle</code>: if we take an infinite periodically cycling list, drop some arbitrary number of elements from the front, and call <code>makeCycle</code> on it, we should get the same cycle as if we hadn't dropped any.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; prop_makeCycle_drop ::</span> [<span class="dt">Int</span>] <span class="ot">-&gt;</span> <span class="dt">Int</span> <span class="ot">-&gt;</span> <span class="dt">Bool</span>
<span class="ot">&gt;</span> prop_makeCycle_drop list&#39; n&#39; <span class="fu">=</span>
<span class="ot">&gt;</span>     makeCycle infiniteList <span class="fu">==</span> makeCycle (drop n infiniteList)
<span class="ot">&gt;</span>     <span class="kw">where</span>
<span class="ot">&gt;</span>     n <span class="fu">=</span> abs n&#39; <span class="fu">+</span> <span class="dv">1</span>   <span class="co">-- ensure n &gt;= 1</span>
<span class="ot">&gt;</span>     list <span class="fu">=</span> <span class="dv">1</span> <span class="fu">:</span> list&#39; <span class="co">-- ensure list is nonempty</span>
<span class="ot">&gt;</span>     infiniteList <span class="fu">=</span> cycle <span class="fu">.</span> nub <span class="fu">$</span> list</code></pre>
<p>Next: write a function that takes a <code>Cycle</code> and returns its length.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; cycleLength ::</span> <span class="dt">Cycle</span> <span class="ot">-&gt;</span> <span class="dt">Int</span>
<span class="ot">&gt;</span> cycleLength <span class="fu">=</span> todo</code></pre>
<p>Now we need to take a shuffle for an arbitrary sized deck and work out how to turn it into a list of disjoint cycles. The function <code>g :: S -&gt; S</code> that came up earlier can help here. We will start by computing the <em>graph</em> of <code>g</code>. We can represent it with a list of pairs, <code>(Int, Int)</code>, mapping inputs to outputs.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt;</span> <span class="kw">type</span> <span class="dt">PermutationGraph</span> <span class="fu">=</span> [(<span class="dt">Int</span>, <span class="dt">Int</span>)]</code></pre>
<p>Write a function that takes a shuffling function and a deck size, n, and returns the graph of the permutation for doing that shuffle on a deck with n cards. So for each input from 1 up to n there should be one pair in the result containing the input and the corresponding output. The order doesn't matter.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; permutation ::</span> (<span class="dt">Deck</span> <span class="ot">-&gt;</span> <span class="dt">Deck</span>) <span class="ot">-&gt;</span> <span class="dt">Int</span> <span class="ot">-&gt;</span> <span class="dt">PermutationGraph</span>
<span class="ot">&gt;</span> permutation <span class="fu">=</span> todo</code></pre>
<p>Here are some example inputs and outputs. (I've used <code>sort</code> so that the order doesn't matter). This says that, for example, the permutation graph for 4 should be <code>[(4,1),(2,2),(3,3),(1,4)]</code>. Again, these examples are included in the tests.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; examples_permutation ::</span> [(<span class="dt">Int</span>, <span class="dt">PermutationGraph</span>)]
<span class="ot">&gt;</span> examples_permutation <span class="fu">=</span>
<span class="ot">&gt;</span>     [ (<span class="dv">4</span>, sort [(<span class="dv">4</span>,<span class="dv">1</span>),(<span class="dv">2</span>,<span class="dv">2</span>),(<span class="dv">3</span>,<span class="dv">3</span>),(<span class="dv">1</span>,<span class="dv">4</span>)])
<span class="ot">&gt;</span>     , (<span class="dv">5</span>, sort [(<span class="dv">2</span>,<span class="dv">1</span>),(<span class="dv">4</span>,<span class="dv">2</span>),(<span class="dv">5</span>,<span class="dv">3</span>),(<span class="dv">3</span>,<span class="dv">4</span>),(<span class="dv">1</span>,<span class="dv">5</span>)])
<span class="ot">&gt;</span>     , (<span class="dv">8</span>, sort [(<span class="dv">8</span>,<span class="dv">1</span>),(<span class="dv">4</span>,<span class="dv">2</span>),(<span class="dv">6</span>,<span class="dv">3</span>),(<span class="dv">2</span>,<span class="dv">4</span>),(<span class="dv">7</span>,<span class="dv">5</span>),(<span class="dv">5</span>,<span class="dv">6</span>),(<span class="dv">3</span>,<span class="dv">7</span>),(<span class="dv">1</span>,<span class="dv">8</span>)])
<span class="ot">&gt;</span>     ]</code></pre>
<p>Now we need to implement the algorithm I described earlier for decomposing a permutation into a product of disjoint cycles. First we should write a function that extracts one <code>Cycle</code> from a <code>PermutationGraph</code>. It should:</p>
<ul>
<li>take a <code>PermutationGraph</code>,</li>
<li>look at the first input in the graph, and see what it maps to,</li>
<li>find where that output occurs as an input in the graph, and see where <em>that</em> maps to,</li>
<li>keep going, producing an infinite cycling list of all of these values, and</li>
<li>turn that list into a <code>Cycle</code>.</li>
</ul>
<p>The infinite list should repeat periodically with all the values in a cycle; that is, the kind of value that <code>makeCycle</code> is expecting to get. So we've already done the last step of implementing this function; we just need to apply <code>makeCycle</code> to that infinite list.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; extractCycle ::</span> <span class="dt">PermutationGraph</span> <span class="ot">-&gt;</span> <span class="dt">Cycle</span>
<span class="ot">&gt;</span> extractCycle <span class="fu">=</span> todo</code></pre>
<p>Next up is a function that can extract <em>all</em> the cycles from a permutation graph. Your implementation should use <code>extractCycle</code> repeatedly to get all of the cycles out of the list.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; decompose ::</span> <span class="dt">PermutationGraph</span> <span class="ot">-&gt;</span> [<span class="dt">Cycle</span>]
<span class="ot">&gt;</span> decompose <span class="fu">=</span> todo</code></pre>
<p>Another QuickCheck property: The sum of cycle lengths after decomposing the permutation graph for a given integer n should equal n:</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; prop_decompose_sumCycleLengths ::</span> <span class="dt">Int</span> <span class="ot">-&gt;</span> <span class="dt">Bool</span>
<span class="ot">&gt;</span> prop_decompose_sumCycleLengths n&#39; <span class="fu">=</span> sumCycleLengths n <span class="fu">==</span> n
<span class="ot">&gt;</span>     <span class="kw">where</span>
<span class="ot">&gt;</span>     n <span class="fu">=</span> abs n&#39; <span class="fu">+</span> <span class="dv">1</span>
<span class="ot">&gt;</span>     sumCycleLengths <span class="fu">=</span>
<span class="ot">&gt;</span>           sum <span class="fu">.</span> map cycleLength <span class="fu">.</span> decompose <span class="fu">.</span> permutation shuffle</code></pre>
<p>Once we have decomposed a permutation into a product of disjoint cycles, the final step is finding the least common multiple of their lengths. Write a function that takes a list of <code>Int</code>, and returns the least common multiple of all of them. The Prelude gives us <code>lcm</code>, but it works on two numbers. You might find it helpful here.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; lcm&#39; ::</span> [<span class="dt">Int</span>] <span class="ot">-&gt;</span> <span class="dt">Int</span>
<span class="ot">&gt;</span> lcm&#39; <span class="fu">=</span> todo</code></pre>
<p>We have all the building blocks now: write another implementation of <code>f</code> using <code>shuffle</code>, <code>permutation</code>, <code>decompose</code>, <code>cycleLength</code>, and <code>lcm'</code>.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; f2 ::</span> <span class="dt">Int</span> <span class="ot">-&gt;</span> <span class="dt">Int</span>
<span class="ot">&gt;</span> f2 <span class="fu">=</span> todo</code></pre>
<p>Now that we have two different implementations of <code>f</code>, we can test to see whether we got them both right by seeing if they are equal. Because their implementations are quite different this will probably be quite a good indication of whether we got it right.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; prop_f1_f2_identical ::</span> <span class="dt">Int</span> <span class="ot">-&gt;</span> <span class="dt">Bool</span>
<span class="ot">&gt;</span> prop_f1_f2_identical x <span class="fu">=</span> f1 x <span class="fu">==</span> f2 x</code></pre>
<p>You did it! See how much faster <code>f2</code> is? My answers are <a href="answers.lhs">here</a> if you want to compare them. For extra credit, get QuickCheck to test that the <a href="http://en.wikipedia.org/Faro_Shuffle">Faro shuffle</a> will return a deck to its original order after 8 shuffles.</p>
<p>Below here is code that you don't need to worry about.</p>
<p>This code tests a function based on a set of example inputs and outputs. It takes a list of test inputs and expected outputs and a function mapping inputs to outputs, and returns an action that checks whether the expected outputs are the same as the actual outputs. If they are all ok, it prints a message saying so; otherwise, it prints details of all the examples that failed.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; testByExamples ::</span> (<span class="dt">Show</span> a, <span class="dt">Show</span> b, <span class="dt">Eq</span> b) <span class="ot">=&gt;</span> [(a, b)] <span class="ot">-&gt;</span> (a <span class="ot">-&gt;</span> b) <span class="ot">-&gt;</span> <span class="dt">IO</span> ()
<span class="ot">&gt;</span> testByExamples examples f <span class="fu">=</span>
<span class="ot">&gt;</span>     <span class="kw">let</span> fails <span class="fu">=</span> catMaybes <span class="fu">$</span> map runExample examples
<span class="ot">&gt;</span>     <span class="kw">in</span> <span class="kw">if</span> null fails
<span class="ot">&gt;</span>         <span class="kw">then</span> putStrLn <span class="st">&quot;+++ OK, passed all examples.&quot;</span>
<span class="ot">&gt;</span>         <span class="kw">else</span> forM_ fails printFailure
<span class="ot">&gt;</span>     <span class="kw">where</span>
<span class="ot">&gt;</span>     runExample (input, expected) <span class="fu">=</span>
<span class="ot">&gt;</span>         <span class="kw">let</span> actual <span class="fu">=</span> f input
<span class="ot">&gt;</span>         <span class="kw">in</span> <span class="kw">if</span> expected <span class="fu">==</span> actual
<span class="ot">&gt;</span>             <span class="kw">then</span> <span class="dt">Nothing</span>
<span class="ot">&gt;</span>             <span class="kw">else</span> <span class="dt">Just</span> <span class="fu">$</span> (input, expected, actual)
<span class="ot">&gt;</span>     printFailure (input, expected, actual) <span class="fu">=</span>
<span class="ot">&gt;</span>         putStrLn <span class="fu">$</span> concat
<span class="ot">&gt;</span>             [ <span class="st">&quot;failed on input &quot;</span>
<span class="ot">&gt;</span>             , show input
<span class="ot">&gt;</span>             , <span class="st">&quot;: expected &lt;&quot;</span>
<span class="ot">&gt;</span>             , show expected
<span class="ot">&gt;</span>             , <span class="st">&quot;&gt;, got &lt;&quot;</span>
<span class="ot">&gt;</span>             , show actual
<span class="ot">&gt;</span>             , <span class="st">&quot;&gt;.&quot;</span>
<span class="ot">&gt;</span>             ]</code></pre>
<p>This is what gets run when you type <code>runhaskell permutations.lhs</code>. It says that if we get a number as an argument, calculate <code>f2</code> for that number and print it. Otherwise, run the tests.</p>
<pre class="sourceCode literate literatehaskell"><code class="sourceCode literatehaskell"><span class="ot">&gt; main ::</span> <span class="dt">IO</span> ()
<span class="ot">&gt;</span> main <span class="fu">=</span> <span class="kw">do</span>
<span class="ot">&gt;</span>     args <span class="ot">&lt;-</span> getArgs
<span class="ot">&gt;</span>     <span class="kw">case</span> args <span class="kw">of</span>
<span class="ot">&gt;</span>         x<span class="fu">:</span>_ <span class="ot">-&gt;</span> <span class="kw">do</span>
<span class="ot">&gt;</span>             print <span class="fu">.</span> f2 <span class="fu">.</span> read <span class="fu">$</span> x
<span class="ot">&gt;</span>         _   <span class="ot">-&gt;</span> <span class="kw">do</span>
<span class="ot">&gt;</span>             <span class="kw">let</span><span class="ot"> qc ::</span> <span class="dt">Testable</span> a <span class="ot">=&gt;</span> a <span class="ot">-&gt;</span> <span class="dt">String</span> <span class="ot">-&gt;</span> <span class="dt">IO</span> ()
<span class="ot">&gt;</span>                 qc prop msg <span class="fu">=</span>
<span class="ot">&gt;</span>                     putStrLn (<span class="st">&quot;Testing: &quot;</span> <span class="fu">++</span> msg) <span class="fu">&gt;&gt;</span>
<span class="ot">&gt;</span>                         quickCheck (sensible prop)
<span class="ot">&gt;</span>             <span class="kw">let</span> te exs f msg <span class="fu">=</span>
<span class="ot">&gt;</span>                     putStrLn (<span class="st">&quot;Testing: &quot;</span> <span class="fu">++</span> msg) <span class="fu">&gt;&gt;</span>
<span class="ot">&gt;</span>                         testByExamples exs f
<span class="ot">&gt;</span>             qc prop_step_sameLength <span class="st">&quot;prop_step_sameLength&quot;</span>
<span class="ot">&gt;</span>             qc prop_step_oneFewer <span class="st">&quot;prop_step_oneFewer&quot;</span>
<span class="ot">&gt;</span>             qc prop_shuffle_sameLength <span class="st">&quot;prop_shuffle_sameLength&quot;</span>
<span class="ot">&gt;</span>             qc prop_shuffle_topToBottom <span class="st">&quot;prop_shuffle_topToBottom&quot;</span>
<span class="ot">&gt;</span>             qc prop_order_subtractOne <span class="st">&quot;prop_order_subtractOne&quot;</span>
<span class="ot">&gt;</span>             te examples_f f1 <span class="st">&quot;examples for f1&quot;</span>
<span class="ot">&gt;</span>             qc prop_makeCycle_drop <span class="st">&quot;prop_makeCycle_drop&quot;</span>
<span class="ot">&gt;</span>             te examples_permutation
<span class="ot">&gt;</span>                   (sort <span class="fu">.</span> permutation shuffle) <span class="st">&quot;examples for permutation&quot;</span>
<span class="ot">&gt;</span>             qc prop_decompose_sumCycleLengths
<span class="ot">&gt;</span>                   <span class="st">&quot;prop_decompose_sumCycleLengths&quot;</span>
<span class="ot">&gt;</span>             te examples_f f2 <span class="st">&quot;examples for f2&quot;</span>
<span class="ot">&gt;</span>             qc prop_f1_f2_identical <span class="st">&quot;prop_f1_f2_identical&quot;</span>
<span class="ot">&gt;</span>     <span class="kw">where</span>
<span class="ot">&gt;     sensible ::</span> <span class="dt">Testable</span> a <span class="ot">=&gt;</span> a <span class="ot">-&gt;</span> <span class="dt">Property</span>
<span class="ot">&gt;</span>     sensible <span class="fu">=</span> mapSize (floor <span class="fu">.</span> logBase (<span class="dv">2</span><span class="ot"> ::</span> <span class="dt">Double</span>) <span class="fu">.</span> fromIntegral)</code></pre>
