---
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} - {% endif %}Harry Garrood</title>
        <meta name="author" content="Harry Garrood">
        <meta name="keywords" content="Harry Garrood personal me blog portfolio">
        <meta name="description" content="My personal website. Blog posts, portfolio, and contact information.">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/atom+xml" title="Harry Garrood’s blog" href="{{ site.baseurl }}/atom.xml">
        <link href="/assets/css/normalize.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">

        {% if page.mathjax %}
        <script type="text/javascript" async
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
        <!-- MathJax doesn't parse inline math in between $ signs by default;
          we change this here -->
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
        </script>
        {% endif %}

        {% for script in page.extra_scripts %}
        <script src="/assets/js/{{ script }}" type="text/javascript"></script>
        {% endfor %}
    </head>
    <body>
        <div class="container">
        <h1><a href="/">Harry Garrood</a></h1>
        <main role="main">
            {{ content }}
        </main>
        </div>
    </body>
</html>
